*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    max-width: 100vw;
    max-height: 100vh;
    width: 100vw;
    height: 100vh;
    *{
        // border: 1px solid red;
    }
    display: flex;
    justify-content: center;
    align-items: center;

}

.w-full{
    width: 100%;
}

.m-auto {
    margin:  0 auto;
}
.max-w{
    min-width : 300px;
    max-width : 600px;
}
.pages_link{
    ul{
        list-style: "-> ";
        font-size: 24px;
        a{
            color: green;
        }
    }
}


button{
  --background : green;
  padding : .5rem 1rem;
  outline: none;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: var(--background);
}